<h2 mat-dialog-title>{{ data?.id ? 'Editar' : 'Crear' }} Doctor</h2>
<div mat-dialog-content>
    <form style="display: flex;justify-content: space-between;flex-wrap: wrap;">
        <mat-form-field appearance="fill" class="full">
            <mat-label>Codigo del Municipio</mat-label>
            <input matInput [(ngModel)]="form.codigo_municipio" name="codigo_municipio" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
            <mat-label>Nombre del Municipio</mat-label>
            <input matInput [(ngModel)]="form.nombre_municipio" name="nombre_municipio" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
            <mat-label>Médico General 24 Horas</mat-label>
            <input matInput [(ngModel)]="form.general_medico" name="general_medico" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
            <mat-label>Especialidades</mat-label>
            <input matInput [(ngModel)]="form.especialidad_medico" name="especialidad_medico" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
            <mat-label>Consultas</mat-label>
            <input matInput type="number" [(ngModel)]="form.numero_consultas" name="numero_consultas" />
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="full">
            <mat-label>Consultas Especialidades</mat-label>
            <input matInput type="number" [(ngModel)]="form.numero_consultas_especialidad" name="numero_consultas_especialidad" />
        </mat-form-field>
        
        

        <mat-form-field appearance="fill" class="full">
            <mat-label>Dirección</mat-label>
            <input matInput [(ngModel)]="form.direccion" name="direccion" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
            <mat-label>Puesto de Atención</mat-label>
            <input matInput [(ngModel)]="form.puesto_atencion" name="puesto_atencion" />
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</div>